@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
:root {
    --accent: #FFFFFF;
    --text: #AFE1AF; 
    --back: #7393B3;
    --ease: all 0.3s ease 0s;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--back);
}
h1 {
    color: var(--text);
}
i {
    color: var(--accent);
    
}
p, a {
    color: var(--text);
    text-decoration: none;
}
h1 {
    font-family: "Georgia", sans-serif;
    font-size: 72px;
    font-weight: 200;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "top";
}
.top {
    grid-area: top;
    background-image: url("PortfolioWebsite3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    gap: 20px;
    grid-template-areas: 
    ".  top__profile top__content .";
}
.top__content {
    grid-area: top__content;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.subtitle {
    font-family: "Georgia", sans-serif;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
}

.email{
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
}

.top__profile {
    grid-area: top__profile;
    align-self: center;
    justify-self: center;
    background-image: url("OpenHousePic.jpg");
    width: 497px;
    height: 563px;
    background-size: cover;
    background-position: 5% 5%;
    background-repeat: no-repeat;
}
h4 {
    text-align: left;
    color: var(--text);
    display: none;
    font-family: "Georgia", sans-serif;
    font-size: 28px;
    font-weight: 100;
    margin-top: 20px;
}
h2 {
    color: var(--text);
    font-family: "Georgia", sans-serif;
    font-size: 72px;
    font-weight: 200;
}
h3 {
    color: var(--text);
    font-family: "Georgia", sans-serif;
    font-size: 36px;
    font-weight: 200;
}
h5 {
    color: var(--text);
    font-family: "Georgia", sans-serif;
    font-size: 72px;
    font-weight: 200;
}
.subtitlemath {
    font-family: "Georgia", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}
h6 {
    color: var(--text);
    font-family: "Georgia", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}
.uploads {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "projects";
}
.school {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "classlist";
}
.projects {
    grid-area: projects;
    background-image: url("PortfolioWebsite3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 200px 500px 500px 1fr;
    gap: 20px;
    grid-template-areas: 
    ". proj ."
    ". phaco__pres ."
    ". math__pres . "
    ". astro__pres . "
    ". . .";
}
.classlist {
    grid-area: classlist;
    background-image: url("PortfolioWebsite3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 200px 500px 500px 1fr;
    gap: 20px;
    grid-template-areas: 
    ". classes ."
    ". Delist ."
    ". . . "
    ". . . ";
}
.proj {
    grid-area: proj;
    align-self: center;
    justify-self: center;
}
.classes {
    grid-area: classes;
    align-self: center;
    justify-self: center;
}
.phaco__pres {
    grid-area: phaco__pres;
    align-self: center;
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-areas: 
    "phaco__pres__info  phaco__pres__pp";
}
.Delist {
    grid-area: Delist;
    align-self: center;
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-areas: 
    "leftie rightie";
}

.leftie {
    grid-area: leftie;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.rightie {
    grid-area: rightie;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.math__pres {
    grid-area: math__pres;
    align-self: center;
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-areas: 
    "math__pres__info  math__pres__pp";
}
.astro__pres {
    grid-area: astro__pres;
    align-self: center;
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-areas: 
    "astro__pres__info  astro__pres__pp";
}

.phaco__pres__info {
    grid-area: phaco__pres__info;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.math__pres__info {
    grid-area: math__pres__info;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.astro__pres__info {
    grid-area: astro__pres__info;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.phaco__pres__pp {
    grid-area: phaco__pres__pp;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.math__pres__pp {
    grid-area: math__pres__pp;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.astro__pres__pp {
    grid-area: astro__pres__pp;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.email {
    display: flex;
    align-items: center;
    transition: var(--ease);
}
.email__copy {
    margin-left: 10px;
}
.email__copy:hover {
    filter: brightness(125%);
}

@media only screen and (max-width: 1000px){
    .top {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "top__profile"
        "top__content";
    }
    .top__profile {
        width: 50%;
        height: 100%;
        align-self: center;
        transform: translate(0,20%);
        
    }
    .top__content {
        text-align: left;
    }

    .projects {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "proj"
        "phaco__pres"
        "math__pres"
        "astro__pres";
    }
    .phaco__pres {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "phaco__pres__info"
        "phaco__pres__pp";
    }
    .math__pres {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "math__pres__info"
        "math__pres__pp";
    }
    .astro__pres {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "astro__pres__info"
        "astro__pres__pp";
    }
    .phaco__pres__info {
        text-align: center;
    }
    .math__pres__info {
        text-align: center;
    }
    .astro__pres__info {
        text-align: center;
    }
}
@media only screen and (max-width: 840px){
    .top__content {
        transform: scale(0.60);
        text-align: left;
    }
    .top__profile {
        display: none;
    }
    hr {
        display: none;
    }
   .uploads {
       display: none;
   }
   h4 {
       display: block;
   }
}
@media only screen and (max-height: 500px){
    .top {
        grid-template-rows: 1fr;
        grid-template-areas: 
        "top__profile  top__content"
    }

    .top__profile {
        transform: scale(0.70);
        width: 100%;
        height: 60%;
        transform: translate(40%,0);
        padding-left: 40px;
    }
    .top__content {
        text-align: left;
        transform: scale(0.60);
    }
}